DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"

CACHE_TTL="5"
CACHE_MAX="10"

PORT="3000"
JWT_SECRET="SECRET"
JWT_EXPIRES_IN="100000"
AWS_REGION="us-east-1"
DYNAMODB_ENDPOINT="http://localhost:8000"
AWS_ACCESS_KEY_ID="FAKEID"
AWS_SECRET_ACCESS_KEY="FAKEKEY"
REDIS_CONNECTION_STRING="redis://localhost:6379"
